-# need to figure out how to distinguish whether or not
-#  a user is logged in with devise from Sinatra
-#  member_signed_in? doesn't work out of the box

.login.grid_4
  - if (env['warden'].authenticated?)
    .grid_2.alpha
      %h2= env['warden'].user.first_name.capitalize
    .grid_2.omega
      %h2
        -# this doesn't work, the link is simply not submitting DELETE request
        -# a GET request is making it to routes.rb . . . moving on..
        %a{:href => '/logout', :method => :delete, :rel => 'nofollow', :id => 'login-link'}Log Out

        -# this doesn't either, with method or data-method
        -#<a href="/logout" data-method="delete" rel="nofollow">Log Out</a>
  - else
    .grid_2.alpha
      %h2
        %a{:href => '/login', :id => 'login-link'}Log In
    .grid_2.omega
      %h2
        %a{:href => '/register', :id => 'register-link'}Register
