%nav.container_16
  .grid_16
    %ul
      %li.guest-nav
        %a{:href => '/'} Home
      - [:mission, :features, :about, :contact].each do |page|
        %li.guest-nav
          %a{:href => page.to_s}= page.to_s.capitalize