.rink-detail
  - if rink.visible
    %h2= rink.name
    %p
      Rink Pic
    %p
      %b Description:
      = rink.description
    %p
      and other fields
  - else
    %h2
      = rink.name
      does not have a profile.