

<% content_for :head do %>
    <%= stylesheet_link_tag "map" %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">

        var markers = new Array();
        function loadpoints(map) {

              $.getJSON("/rinks/locate_rinks.json",
              function(data) {
                //for each rink retrieved,W
                for (var i in data) {

                    var rink = data[i];
                    var latlng = new google.maps.LatLng(rink.latitude, rink.longitude);

                    markers.push(new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: rink.name,
                        rinkId: rink.id,
                        rinkState: rink.state
                    }));

                    google.maps.event.addListener(markers[i], 'click', function() {
                        //update the sidebar with the rink's info
                        loadRinkSidebar(this);
                    });
                }
              });
        }

        //loads the rink's info into the sidebar when clicked
        function loadRinkSidebar(mark) {
            $.ajax({
                type: "GET",
                url: "/rinks/info/" + mark.rinkId,
                async:true,
                dataType: "html",
                success: function(html){
                    $('div.map_sidebar').html(html);
                }
             });
        }

        function processData(JSONData) {
           alert(JSONData.color);
        }


        function initialize() {
            var latlng = new google.maps.LatLng(40, -90);
            var myOptions = {
              zoom: 4,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            loadpoints(map);
          }

        function loadScript() {
          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
          document.body.appendChild(script);
        }

        window.onload = loadScript;

    </script>
<% end %>


<div class="map_main">
  <div class="map_container">
    <div id="map_canvas"></div>
    <div class="map_sidebar">
      <h1>WSA Rink Locator</h1>

    </div>

  </div>

  <div class="map_main_content">
 </div>

  </div>