
#map_canvas {
    width: 640px;
    height: 480px;
    float:left;
}

div.map_sidebar {
    padding-left:20px;
    width: 360px;
    height: 480px;
    float:left;
    border-left:#a9a9a9 inset thick;
}

div.map_main {
    width: 1090px;
}

div.map_container {
    float:left;
    width: inherit;
    height: auto;
    border:#a9a9a9 groove thick;
}


div.map_main_content {
    width: inherit;
    clear:left;
}

div.clear {
    margin-top:25px;
    float:left;
    clear:right;
}

