!!!
%head
  -# may change this to reference only guest.css.sass
  %link{:rel=>'stylesheet', :href=>'/assets/960.css', :type => "text/css" }
  %link{:rel=>'stylesheet', :href=>'/assets/master.css', :type => "text/css" }

%body
  %header.container_16
    .grid_12
      %h1 Skate
    .grid_2
      %h2
        %a{:href => '/login'}Log In
    .grid_2
      %h2
        %a{:href => '/register'}Register

  %nav.container_16
    .grid_16
      %ul
        %li.guest-nav
          %a{:href => '/'} Home
        - [:mission, :features, :about, :contact].each do |page|
          %li.guest-nav
            %a{:href => page.to_s}= page.to_s.capitalize

  .container_16
    %section.main
      %h2 GuestApp

      = yield

  %footer.container_16
