%div{:class=>'sent-team-request',:id=>"sent-team-req-#{request.id}"}
  %p
    You want to skate on
    = request.team.name.capitalize

  %p
    Sent:
    = request.created_at.strftime("%I:%M%p on %A %B %d, %Y")
    = link_to 'Cancel', {:controller => 'team_members', :action => 'cancel_team_request', :id => request.id}, :remote => true
    