%h2 Team Requests Sent
- if @sent_team_requests.any?
  - @sent_team_requests.each do |r|
    = render 'team_request_sent', :request => r
- else
  You have no active team requests sent

%h2 Member Requests Recieved
- if @recd_member_requests.any?
  - @recd_member_requests.each do |r|
    = render 'member_request', :request => r
- else
  You have no new member requests