%h1 WSA Member Database

%h2 Basic Information:

%div{:class=>"simple_info"}
  %p
    %b Name:
    = @this_member.full_name
  %p
    %b Email:
    = @this_member.email
  %p
    %b Age & Birthday:
    coming soon
  %p
    %b Home Rink:
    (if set) coming soon
  %p
    %b Address:
    coming soon
  %p
    %b Accounts:
    coming soon

%h2 Membership Information:

%h2 Team Information:

%h2 Actions:
