
%div{:class => 'update_container'}



%table
  %tr
    %th Name
    %th Team
    - @roles.each do |r|
      %th= r.name.capitalize
  - @members.each do |m|
    %tr
      %td= m.full_name
      %td
        - if m.team
          = m.team.name
        - else
          N/A
      - @roles.each do |r|
        %td
          = check_box_tag 'role' + '-' + m.id.to_s + '-' + r.id.to_s, 'yes', (m.roles.include? r), :class => 'role-check'

:javascript
  $('.role-check').change(function() {
    var checkId = this.id;
    var checkSplit = checkId.split("-");

    var member = checkSplit[1];
    var role = checkSplit[2];

    $.ajax({
     type: "POST",
     url: "/role_members/toggle/" + member + "/" + role,
     success: function(msg){

     }
    });

    //alert('Member: ' + member + ' Role: ' + role);
  });


