%nav.container_16
  .grid_16
    %ul
      %li
        %a{:href => '/'} Home
      %li
        %a{:href => '/stats'} Stats
      %li
        %a{:href => '/friends'} Friends
      %li
        %a{:href => '/teams'} Teams
      %li
        %a{:href => '/rinks'} Rinks
      %li
        %a{:href => '/members'} Members
      %li
        %a{:href => '/etc'} Etc