
.container_16
  .grid_16
    %h2 testing some different grid arrangements

    .container_16
      .grid_4.alpha grid 4
      .grid_4 grid 4
      .grid_4 grid 4
      .grid_4.omega grid 4

    %h2 nesting grids
    .container_16
      .grid_4.alpha
        grid 4
        .container_4
          .grid_1.alpha
            g1
          .grid_1
            g1
          .grid_1
            g1
          .grid_1.omega
            g1
      .grid_4
        grid 4
        .container_4
          .grid_1.alpha
            g2
          .grid_1
            g2
          .grid_1
            g2
          .grid_1.omega
            g2
      .grid_4
        grid 4
        .container_4
          .grid_1.alpha
            g3
          .grid_1
            g3
          .grid_1
            g3
          .grid_1.omega
            g3
      .grid_4.omega
        grid 4
        .container_4
          .grid_1.alpha
            g4
          .grid_1
            g4
          .grid_1
            g4
          .grid_1.omega
            g4


