
%h2 Recieved Friend Requests
- if @recd_requests
  - @recd_requests.each do |f|
    = render 'recd_request', :friendship => f
- else
  %p No new Friend Requests

%h2 Sent Friend Requests
- if @sent_requests
  - @sent_requests.each do |f|
    = render 'sent_request', :friendship => f
- else
  %p You have no Sent Friend Requests

