-# i'm not real sure why this doesn't work

-#- content_for :stylesheets do
-#  -# nothing for now
-#
-#- content_for :content do
-#  %h2 Content here
-#
-#- render :template => 'layouts/application'

= yield

= render :template => 'layouts/application'